<%= form_for @comment, :remote => true do |f| %>
  <%= f.hidden_field :blog_post_id %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <% if current_user %>
        <td><%= f.text_field :name, :value => current_user.name, :readonly => 'readonly' %></td>
      <% else %>
        <td><%= f.text_field :name %></td>
      <% end %>
    <tr/>
    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.text_field :content, :size => 100 %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>