<!DOCTYPE html>
<html>
    <head>
      <title>Mastering Mom</title>
      <%= render 'layouts/stylesheets' %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
    </head>

    <body>

    <div class="container">
      <header>
        <div class="mm_titles round">
          <span class="mm_main h1">Mastering "Mom"</span>
          <%= render 'devise/menu/login' %>
          <br/>
          <span class="mm_sub h3">... one sticky, stinky, mini disaster at a time.</span>
        </div>
      </header>

      <%= yield %>
    </div>

    </body>
</html>
